@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
}

body {
    background-color: #420016;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

.titles {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.titles .logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navigation h2 {
    margin: 10px 15px;
    padding: 5px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
    text-transform: uppercase;
}
.navigation h2:hover{
    color: #c1c1c1;
}

.titles .groups-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: enter 2s ease-in-out;
}

.logo img {
    width: 40px;
    height: 80px;
}

.groups-name h2,
.rounds h2,
.goals h2{
    padding: 10px;
    color: #c1c1c1;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
}
.goals,
.rounds{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .groups {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 20px;
}

.countries .flags {
    width: 90px;
    height: 57px;
    animation: flag 2s ease-in-out;
}
.flags,
.flag-player,
.flag-classification,
.flag-game{
    object-fit: cover;
}
.countries .flags:hover {
    transform: scale(1.3);
}
.countries .flags:hover~ p{
    opacity: 1;
}

@keyframes flag {
    0% {
        transform: scale(1.4);
    }

    100% {

        transform: scale(1);
    }
}

.countries {
    padding: 10px;
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countries p {
    padding: 10px 5px;
    text-align: center;
    letter-spacing: 4px;
    opacity: 0;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.games {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 200px;
    height: 100px;
}

.game p {
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 36px;
}

.games .round {
    width: 200px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   
    
}

.round-game {
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: enter 2s ease-in-out;
}
.round span{
    position: absolute;
    color: #1c1c1c;
    background-color: #A9A9A9;
    font-size: 12px;
    padding: 4px;
    border-radius: 7px;
}

.round .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date p {
    font-size: 12px;
    color: #c1c1c1;
}

.date .gold {
    color: gold;
    letter-spacing: 2px;
    font-size: 10px;
}

.game .versus {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game .versus p {
    font-size: 15px;
    letter-spacing: 3px;
    width: 40px;
}
.game .versus sub{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.countries-game .flag-game {
    width: 50px;
    height: 30px;
    margin: 10px;
}

.round1,
.round2,
.round3 {
    display: none;
}

.round .confette{
    position: absolute;
    width: 200px;
    height: 145px;
}
.green {
    background-color: #006400;
}
.red{
    background-color:darkred;
}
/* .final-octave{
    background-color: rgba(50, 205, 50, 0.2);
    
}
.quarterfinals{
    background-color: rgba(0, 255, 127, 0.2);
}

.semifinals{
    background-color: rgba(0, 250, 154, 0.3); */
    /* animation: semifinals 5s infinite;
} */
@keyframes semifinals {
    0%{
        background-color: rgba(0, 250, 154, 0.1);
    }
   
    50%{
        background-color: rgba(0, 250, 154, 0.5);
    }
    100%{
        background-color: rgba(0, 250, 154, 0.1);
    }
    
}
.three{
    background-color: rgba(205, 127, 50, 0.4);
}
@keyframes three {
    0%{
        background-color: rgba(205, 127, 50, 0.1);
    }
   
    50%{
        background-color: rgba(205, 127, 50, 0.5);
    }
    100%{
        background-color: rgba(205, 127, 50, 0.1);
    }
    
}
.final{
    background-color: rgba(255, 215, 0, 0.4);
}
@keyframes final {
    0%{
        background-color: rgba(255, 215, 0, 0.1);
    }
   
    50%{
        background-color: rgba(255, 215, 0, 0.5);
    }
    100%{
        background-color: rgba(255, 215, 0, 0.1);
    }
    
}
.green:hover,
.red:hover {
    transform: scale(1.1);
}
.container .classification {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;

}

.classification-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 530px;
    height: 230px;
    margin: 10px;
    animation: enter 2s ease-in-out;
}

@keyframes enter {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title-table,
.team {
    display: flex;
}

.title-table p,
.team p {
    width: 40px;
    font-size: 13px;
    text-align: start;
    padding: 10px;
}

.classification-group .teams-name {
    width: 200px;
    display: flex;
    align-items: center;
    border-left: 2px solid transparent;
}
.team-first,
.team-secondary {
    border-left: 2px solid #006400;
    animation: classification 5s infinite;
}
@keyframes classification {
    0%{
        border-left: 2px solid #006400;
    }
    50%{
        border-left: 2px solid  #1E90FF;
    }
    75%{
        border-left: 2px solid  #FFFF00;
    }
    100%{
        border-left: 2px solid #006400;
    }
}

@keyframes button {
    0%{
        border-bottom: 4px solid #006400;
        color:#006400 ;
    }
    50%{
        border-bottom: 4px solid  #1E90FF;
        color:#1E90FF ;
    }
    75%{
        border-bottom: 4px solid  #FFFF00;
        color:#FFFF00 ;
    }
    100%{
        border-bottom: 4px solid #006400;
        color:#006400;
    }
}
.team .flag-classification {
    width: 20px;
    height: 15px;
    margin: 1px 5px;
    object-fit: cover;
}

.btn-round-final,
.btn-round-arrow-back {
    display: none;

}

.btn {
    animation: enter 2s ease-in-out;
}

.round-game {
    width: 1000px;

}

.eliminate {
    filter: grayscale(1);
}

.about{
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: enter 2s ease-in-out;
}
.about .container-about{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-about .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container-about .title img{
    width: 70px;
    border-radius: 50%;
}
.container-about .title h2{
    padding: 5px;
    text-transform: uppercase;
}
.container-about .title h3{
    color: #006400;
    margin-bottom: 10px;
}
.container-about .title h4{
    color: #A9A9A9;
}
.container-about .social{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
    border-radius: 1px;
}
.container-about .social a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
.container-about .social a i{
    font-size: 25px;
}
.container-about .social a i:hover{
    color: #808080;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 160px;
}
.footer p,span{
    margin: 5px 0;
    font-size: 12px;
}
.footer i{
    font-size: 25px;
    margin: 10px;
}
.footer .code-pix{
    margin-top: 5px;
    color: #1c1c1c;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.strikers{
    display: none;
    width: 1000px;
    margin-top: 20px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    animation: enter 2s ease-in-out;
}
.strikers .title{
    margin-bottom: 20px;
}
.strikers .player{
    display: flex;
    width: 300px;
    padding: 10px;
    border-bottom: 1px solid #808080;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.strikers .player:hover,
.classification-group .team:hover
{
    background-color: rgba(0, 0, 0, 0.15);
}
.player .flag-player{
    width: 30px;
    height: 20px;
}
.player .player-name{
    width: 200px;
}
.player h2{
 font-size: 15px;
   margin-left: 10px;
   
}
.player span{
    margin-left: 10px;
    color: #808080;
}
.player .goals-icon{
    width: 20px;
}
.player p{
    padding: 10px;
    font-size: 20px;
}
.back-classification{
    display: none;
    animation: enter 2s ease-in-out;
}
.btn-strikers{
    animation: enter 2s ease-in-out;
}
.champion .trophy{
   height: 70px;
}
.champion{
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.champion .flag-champion{
    width: 50px;
    height: 30px;
    margin: 10px;
    object-fit: cover;
}
@media (max-width:768px) {
    .classification-group {
        width: 340px;
        height: 230px;
        margin: 5px;
    }

    .classification-group .teams-name {
        width: 110px;
    }

    .title-table p,
    .team p {
        width: 25px;
        font-size: 11px;
    }
    .strikers{
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }
    .countries p {
        opacity: 1;
    }
    
}

@media (max-width:425px) {
    .group .countries {
        width: 180px;
    }
    .group .countries p{
        height: 20px;
    }
    .games .round {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #c1c1c1;
    }
    .navigation h2 {
        font-size: 16px;
        margin: 10px 10px;
    }
    .groups-name h2,
    .rounds h2 {
    font-size: 13px;
    }
    .container .groups{
    margin: 20px 0 20px 0;
    }
    .strikers .player{
        width: 100vw;
        margin: 0;
        
    }
}

@media (max-width:400px) {
    
    .navigation h2 {
        font-size: 14px;  
    }
    .round .confette{
        width: 100%;
        height: 145px;
    }
}